<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419041019815-7cp7t32tlka10e0h4ohse75sgevhe0nv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419041019815-7cp7t32tlka10e0h4ohse75sgevhe0nv</string>
	<key>API_KEY</key>
	<string>AIzaSyD1gW2EkjBfAOthOlZB6PeqWHz6B6a3PRI</string>
	<key>GCM_SENDER_ID</key>
	<string>419041019815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>landercorp.mx.LoginFireBase</string>
	<key>PROJECT_ID</key>
	<string>loginfirebase-8aca0</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfirebase-8aca0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419041019815:ios:1bb3dc874e2e8f2c019882</string>
	<key>DATABASE_URL</key>
	<string>https://loginfirebase-8aca0.firebaseio.com</string>
</dict>
</plist>